.message
  .main-message__box
    .main-message__box__ab
      .a
        = message.user.name
      .c
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
      .b
        - if message.content.present?
          %p.lower-message__content
            = message.content
        = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
