.wrapper{
  display:flex;
  height: 100vh;
}

.side{
  width: 300px;
  background-color: #2f3e51;
  .side-header{
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    &__box{
      height: 20px;
      width: 260px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      &__boxname{
        color: white;
        font-size: 16px;
      }
      &__icon{
        display: flex;
        justify-content:flex-end;
        color: white;
        .edit{
          .contents__btn{
            color: white;
          }
        }
        .cog{
          .new__btn{
            color: white;
          }
        }
        }
      }
  }
  
  .side__list{
    height: calc(100vh - 100px);
    width: 300px;
    background-color: #2f3e51; 
    padding: 20px;
    box-sizing: border-box;
    &__group{
      a{
      color: white;
      text-decoration: none;
        .side__list__group__name{
          font-size: 15px;
        }
        .side__list__group__message{
          font-size: 11px;
        }
      }
    }
  }
}




.main{
  height: 100％;
  width: calc(100vw - 300px)
}


  .main-header{  
    height: 100px;
    background-color: #ffffff;
    align-items: center;
    padding: 0 40px;
    &__box{
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      height: 100px;
      &__boxname{
        background-color: #ffffff;
        height: 100px;
          .a{
            font-size: 20px;
            color: #333333;
            margin: 35px 0px 15px 0px;
          }
          .b{
            font-size: 12px;
            color: #999999;
            font-weight: bold;
          }
      }
      &__edit{
      height: 100px;
      background-color: #ffffff;
      .edit{
        height: 40px;
        font-size: 16px;
        margin-right: 50px;
        border: solid 1px #38aef0;
        padding: 0 20px;
        margin-top: 30px;
        line-height: 40px;
        a{
          color:  #38aef0;
          text-decoration: none;
        }
      }
      }
    }
  }

  .main-message{
    background-color: #fafafa;
    height: calc(100vh - 190px);
    overflow: scroll;
    &__box{
      background-color: #fafafa;
      padding: 10px 40px;
      &__ab{
        padding-bottom: 30px;
        &__d{
        display: flex;
        .a{
          font-size: 16px;
          color: #333333;
        }
        .c{
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
        .b{
          font-size: 14px;
          color: #434a54;
        }
      }
    }
  }

  .main-footer{
    background-color: #d2d2d2;
    width: 100%;
    height: 90px;
    padding: 20px 40px;
    box-sizing: border-box;
    .new_message{
      border-style: none;
      display: flex;
      justify-content: space-between;
      .main-footer__input{
        background-color: #d2d2d2;
        width: 100%;
        position: relative;
        .form__message{
          width: 100%;
          height: 50px;
        }
        .content_btn{
          position: absolute;
          top: 15px;
          right: 15px;
          font-size: 25px;
          .file{
            display: none;
            right: 10px;
            top: 10px;
          }
        }
      }
      .form__submit{
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
        line-height: 50px;
      }
    }
  }

